<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.hangchen.flutter_push_plugin">
    <application>
        <receiver android:name=".JPushXMessageReceiver">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <service android:name=".JPushXCustomService"
            android:enabled="true"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>
    </application>
</manifest>
